<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Styleguide Lite</title>
    <link rel="stylesheet" href="https://mozilla.github.io/styleguide/media/css/libs/prism.css" media="screen" />
<link rel="stylesheet" href="https://mozilla.github.io/styleguide/media/css/libs/sandstone.css" media="screen" />
<link rel="stylesheet" href="https://mozilla.github.io/styleguide/media/css/colors.css" media="screen" />
<link rel="stylesheet" href="https://mozilla.github.io/styleguide/media/css/styleguide-lite.css" media="screen" />

  </head>
  <body class="styleguide">
    <header class="main-header">
      <h1 class="site-title">Mozilla Styleguide</h1>
    </header>
    <nav class="nav-main" role="navigation">
  <header>
    <h2>Main Navigation</h2>
  </header>
  <ol>
    <li><a href="https://mozilla.github.io/styleguide/index.html">How to use</a></li>
    <li><a href="https://mozilla.github.io/styleguide/brands/index.html">Brands</a></li>
    <li id="style" class="moz-accordion-header"><a href="#style">Style</a>
      <ul>
        <li><a href="https://mozilla.github.io/styleguide/style/color.html">Color</a></li>
        <li><a href="https://mozilla.github.io/styleguide/style/imagery.html">Imagery</a></li>
        <li><a href="https://mozilla.github.io/styleguide/style/typography.html">Typography</a></li>
        <li><a href="https://mozilla.github.io/styleguide/style/icons.html">Icons</a></li>
      </ul>
    </li>
    <li id="components" class="moz-accordion-header"><a href="#components">Components</a>
      <ul>
        <li><a href="https://mozilla.github.io/styleguide/components/grid/index.html">Grid</a></li>
        <li><a href="https://mozilla.github.io/styleguide/components/buttons/index.html">Buttons</a></li>
        <li><a href="https://mozilla.github.io/styleguide/components/glyphs/index.html">Glyphs</a></li>
        <li><a href="https://mozilla.github.io/styleguide/components/headings/index.html">Headings</a></li>
        <li><a href="https://mozilla.github.io/styleguide/components/tables-and-lists/index.html">Tables and Lists</a></li>
        <li><a href="https://mozilla.github.io/styleguide/components/forms/index.html">Forms</a></li>
        <li><a href="https://mozilla.github.io/styleguide/components/footer/index.html">Footer</a></li>
        <li><a href="https://mozilla.github.io/styleguide/components/social/index.html">Social and Sharing</a></li>
        <li><a href="https://mozilla.github.io/styleguide/components/widgets/index.html">Widgets</a></li>
      </ul>
    </li>
    <li id="motion" class="moz-accordion-header"><a href="#motion">Motion</a>
      <ul>
        <li><a href="https://mozilla.github.io/styleguide/motion/video.html">Video</a></li>
        <li><a href="https://mozilla.github.io/styleguide/motion/animation.html">Web Animation</a></li>
      </ul>
    </li>
    <li id="copy_language" class="moz-accordion-header"><a href="#copy_language">Copy and Language</a>
      <ul>
        <li><a href="https://mozilla.github.io/styleguide/copy/tone.html">Tone</a></li>
        <li><a href="https://mozilla.github.io/styleguide/copy/rules.html">Rules</a></li>
        <li><a href="https://mozilla.github.io/styleguide/copy/localization.html">Localization</a></li>
      </ul>
    </li>
    <li id="templates" class="moz-accordion-header"><a href="#templates">Starter Templates</a>
      <ul>
        <li><a href="https://mozilla.github.io/styleguide/templates/product.html">Product Page</a></li>
        <li><a href="https://mozilla.github.io/styleguide/templates/legal.html">Legal/Policy detail page</a></li>
        <li><a href="https://mozilla.github.io/styleguide/templates/download.html">Campaign download page</a></li>
        <li><a href="https://mozilla.github.io/styleguide/templates/firstrun.html">Firstrun page</a></li>
      </ul>
    </li>
    <li id="resources" class="moz-accordion-header"><a href="#resources">Resources</a>
      <ul>
        <li><a href="https://github.com/mozilla/styleguide" rel="external">Github</a></li>
        <li><a href="">Design @Firefox</a></li>
        <li><a href="">Bugzilla</a></li>
        <li><a href="https://github.com/mozilla/styleguide/blob/master/README.md" rel="external">Contribute</a></li>
      </ul>
    </li>
  </ol>
</nav>

    <main class="main-content" role="main" tabindex="-1">
      <h2>Feed me Malcolm, feed me!</h2>
    </main>
    <footer>
  <div class="footer-logo">
    <a href="https://mozilla.org"><img src="https://mozilla.github.io/styleguide/media/img/sandstone/footer-mozilla.png" alt="mozilla"></a>
  </div>

  <div class="footer-license">
    <p>Portions of this content are &copy;1998–2016 by individual mozilla.org contributors. Content available under a <a href="//www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.</p>
  </div>

  <ul class="footer-nav">
    <li><a href="https://github.com/mozilla/styleguide">Contribute to this page</a></li>
    <li><a href="https://mozilla.org/about/contact.html#map-mountain_view">Contact Us</a></li>
    <li><a href="https://mozilla.org/privacy-policy.html">Privacy Policy</a></li>
  </ul>
</footer>

    <script src="https://mozilla.github.io/styleguide/media/js/libs/jquery.js"></script>
<script src="https://mozilla.github.io/styleguide/media/js/libs/prism.js" data-manual></script>
<script src="https://mozilla.github.io/styleguide/media/js/styleguide-lite.js"></script>

  </body>
</html>
